.profile__edit-button {
    grid-area: button;
    align-self: center;
    background-image: url(../../../../mesto/image/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000;
    cursor: pointer;
    opacity: 1;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width:600px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 8px 8px;

    }
}