.elements__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 21px;
    padding-right: 15px;
    min-height: 74px;
    margin: 0 auto;
}