footer {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 0;
}

@media screen and (max-width:905px) {
    .footer {
        max-width: 600px;
    }
}

@media screen and (max-width:600px) {
    .footer {
        max-width: 282px;
    }
}