.popup__title {
    max-width: 330px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000;
    margin: 0;
    padding-bottom: 54px;
}

@media screen and (max-width:540px) {
    .popup__title {
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
        white-space: nowrap;
        padding-bottom: 75px;
    }
}